<h1>Let This Force Guide</h1>
<p>Welcome to your test young padawan!</p>
<p>Your instruction for this test are listed below.</p>

<h3>First Trial</h3>
<ul>
  <li>A branch with this structure [first name]/test, you must create.</li>
  <li>All the trials you must complete, on the branch created. </li>
</ul>
<h3>Second Trial</h3>
<ul>
  <li>To the characters page, you must navigate.</li>
  <li>Not working correctly, you will notice the page is.</li>
  <li>The solution to fix it, you must find.</li>
</ul>
<h3>Third Trial</h3>
<ul>
  <li>To the <a href="fetch-data">Character</a> page where you will find a table, navigate.</li>
  <li>Shown as url's, you will notice the starship data is,This should show the starship name(s) in format csv.</li>
  <li>It's not a trap!</li>
</ul>
<h3>Fourth Trial</h3>
<ul>
  <li>A button and input field on this home page with a list, you must create. </li>
  <li>You should save the input field data into the database called "namedb", the button should allow.</li>
  <li>Called "nametable", the table is, and has only one column for name, the table has.</li>
  <li>The list of names to be displayed, on the homepage it must.</li>
</ul>

<h3>Final Trial</h3>
<ul>
  <li>A document, you must create. With your knowledge of this project.</li>
  <li>.md format it must be.</li>
  <li>Main title, overview, pre-requisites, and how to run this project, must be added to the Docs folder.</li>
</ul>

